<div class="jumbotron">
  <h1>Welcome to My Healthy Thanksgiving</h1>
  <h2>
    My favorite Thanksgiving Day recipes, all in one location. Please use only organic ingredients.
  </h2>
  <%= link_to "Sign up now!", "", class: "btn-custom btn-lg btn-info" %>
</div>
<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn-custom btn-sm btn-info" %></p>
  </div>
  <div class="col-sm-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn-custom btn-sm btn-info" %></p>
  </div>
  <div class="col-sm-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn-custom btn-sm btn-info" %></p>
  </div>
</div>