<div class="page1">
  <div class="container">
    <div class="image-responsive" style="cover: image-url("cookingScene1.jpg") no-repeat center top;background-size:cover;">
    	<div class="row text-center">
        <div class="center-text">
        <h1>A PLACE TO SAVE FAVORITE RECIPES</h1>
        <h3>Sign up to save and share your own favorite recipes and create reviews!</h3>
          <p>&nbsp</p>
            <%= link_to "Sign Up", register_path, class: "btn-custom btn-lg" %>
          <p>&nbsp</p>
        <h3>Feel free to browse and view recipes as a guest and sign up later.</h3>
          <p>&nbsp</p>
            <%= link_to "Guest",recipes_path, class: "btn-custom btn-lg" %>
          <p>&nbsp</p>
        </div>
      </div>
    </div>
  </div>
</div>


