<div class="jumbotron">
  <p>&nbsp</p>
  <h1>A PLACE TO SAVE FAVORITE RECIPES</h1>
  <h2>Sign up to save and share your own favorite recipes and create reviews!</h2>
   <%= link_to "Sign Up", register_path, class: "btn-custom btn-lg btn-info", id: "jumbotron-btn" %>
  <p>&nbsp</p>
  <h2>Feel free to browse and view recipes as a guest and sign up later.</h2>
  <%= link_to "Guest",recipes_path, class: "btn-custom btn-lg btn-info", id: "jumbotron-btn" %>
</div>
