@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
body {
  padding-top: 3em;
}

a,
a:focus,
a:hover {
  color: #fff;
}

textarea {

}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 0.625em;
}

.left {
  text-align: left;
  letter-spacing: 0.1em;
}

.title {
  font-size: 2em;
  color: #456e55;
  font-weight: bold;
  text-align: center;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  margin-bottom: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.0625em;
  margin-bottom: 1.875em;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-custom {
  background-color: #456e55;
  border-color: #456e55;
  color: #FFF;
  padding-left: 5%;
  padding-right: 5%;
}



.navbar-custom .navbar-nav > li > a:hover, .navbar-custom  .navbar-nav > li > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom  .navbar-nav > li > .dropdown-menu {
  background-color: #456e55;
}
.navbar-custom  .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #456e55;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-toggle {
  border-color: #456e55;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #456e55;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #fff;
}
.navbar-custom .navbar-link {
  color: #fff;
}
.navbar-custom .navbar-link:hover {
  color: #D1DBD5;
  background-color: #456e55;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #D1DBD5;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #D1DBD5;
    background-color: #456e55;
  }
}



#logo {
  float: left;
  font-size: 2.4em;
  color: #fff;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-decoration: none;
  padding: .05em;
  display: inline;
  background-color: #456e55;
  border: none;
}
#logo:hover {
    color: #D1DBD5;
    text-decoration: none;
  }


 
 

/* home */

.page1 {
  background-image: image-url("cookingScene1.jpg");
	background-size: cover;
	background-position: 45% 0%;
	height: auto;
	max-width: 100%;
  background-repeat: no-repeat;
  padding: 0;
}

.center-text {
  color: #FFF;
  margin: 10%;
}


/* custom buttons */

.btn-custom {
  background-color: #932533 !important;
  background-repeat: repeat-x;
  border-color: #932533;
  border-radius: 8px;
  color: #FFF;
  margin: 2em;
  padding: 0.5em 1em;
}

.btn-custom:hover {
  opacity: 0.75%;
  text-decoration: none;
  color: #FFF;
}

.btn-submit {
  background-color: #456e55;
  color: #FFF;
  border-color: #456e55;
}

#return-btn {
  margin: 1em;
  display: inline-block;
}
#btn-1 {

  float: center;
  font-size: 1.5em;
  color: #FFF;
  font-weight: bold;
}


/* footer */

.navbar-custom .navbar-footer {
  text-align: center;
}

.navbar-custom .navbar-footer> a:hover, .navbar-custom  .navbar-footer> a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}



/* forms */

.chef_info {
  margin-top: 2em;
}

.gravatar {
  border-radius: .5em;
}

.well {
  background-color: #D1DBD5;
  margin-bottom: 2em;
  border-radius: .2em;
}

input, textarea, select, .uneditable_input {
  border: 1px solid #456e55;
  border-radius: .2em;
  width: 100%;
  margin-bottom: 3em;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}


.tabbable-panel {
  border: none;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #456e55;
}

.tabbable-line > .nav-tabs > li > a > i {
  color: #456e55;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #D1DBD5;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #456e55;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #456e55;
  position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #456e55;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #D1DBD5;
  padding: 3em 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 2em 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.paginate-center {
  padding: 3em;
}


