$navbar-default-bg: #456e55;
$dark-green: #92d9cf;
$navbar-default-color: $dark-green; 

@import "bootstrap-sprockets";
@import "bootstrap";

.btn-custom {
  background-color: #932533 !important;
  background-repeat: repeat-x;
  color: #FFF;
  margin: 3px;
  padding: 5px;
}

.btn-custom:hover {
  opacity: 0.75;
  text-decoration: none;
}

.btn-submit {
  background-color: #456e55;
  color: #FFF;
  border-color:#456e55;
}

#btn-1 {

  float: center;
  font-size: 1.5em;
  color: #FFF;
  font-weight: bold;
}

#logo {
  margin-top: .25em;
  margin-bottom: .25em;
  float: left;
  margin-right: 1em;
  font-size: 2em;
  color: #FFF;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FFF;
  opacity: 0.75;
}

body {
  padding-top: 50px;

}

.nav_item {
  margin-left: 25px;
  float: right;
  margin-top: 20px;
}

.nav_ul_item {
  list-style: none;
  padding-left: 25px;
  float: right;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-menu {
  color: #FFF;
}

.jumbotron {
  text-align: center;
  background-image: image-url("cookbooks1a.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFF;
}

#jumbotron-btn {
  padding: .5em;
  
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 1em;
  letter-spacing: -.03em;
  margin-bottom: .5em;
  color: red;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #FFF;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  color: gray;
}

h4 {
  font-size: 1em;
  text-align: center;
  color: gray;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}
  
.footer {
  border-top: 1px solid #9dddcc;
  color: #666666;
}

.footer p {
  margin-top: 10px;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}
input, textarea, select, .uneditable_input {
  border: 1px solid  #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important; 
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}