@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
body {
  padding-top: 3em;
}

textarea {

}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 0.625em;
}

.left {
  text-align: left;
  letter-spacing: 0.1em;
}

.title {
  font-size: 2em;
  color: #456e55;
  font-weight: bold;
  text-align: center;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  margin-bottom: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.0625em;
  margin-bottom: 1.875em;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-custom {
  background-color: #456e55;
  border-color: #456e55;
  color: #fff;
  padding-left: 4%;
  padding-right: 3%;
}
.navbar-custom .navbar-brand > a {
  color: #fff;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom  .navbar-nav > li > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom  .navbar-nav > li > .dropdown-menu {
  background-color: #456e55;
}
.navbar-custom  .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #456e55;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #D1DBD5;
  background-color: #456e55;
}
.navbar-custom .navbar-toggle {
  border-color: #456e55;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #456e55;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #fff;
}
.navbar-custom .navbar-link {
  color: #fff;
}
.navbar-custom .navbar-link:hover {
  color: #D1DBD5;
  background-color: #456e55;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #D1DBD5;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #D1DBD5;
    background-color: #456e55;
  }
}



#logo {
  float: left;
  font-size: 2.4em;
  color: #fff;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-decoration: none;
  padding: .05em;
  display: inline;
  background-color: #456e55;
  border: none;
}
#logo:hover {
    color: #D1DBD5;
    text-decoration: none;
  }


 
 

/* home */

.page1 {
  background-image: image-url("cookingScene1.jpg");
	background-size: cover;
	height: auto;
	max-width: 100%;
  background-repeat: no-repeat;
}

.center-text {
  color: #FFF;
  padding: 10%;
}


/* custom buttons */

.btn-custom {
  background-color: #932533 !important;
  background-repeat: repeat-x;
  border-color: #932533;
  border-radius: 8px;
  color: #FFF;
  margin: 2em;
  padding: 0.5em 1em;
}

.btn-custom:hover {
  opacity: 0.75%;
  text-decoration: none;
  color: #FFF;
}

.btn-submit {
  background-color: #456e55;
  color: #FFF;
  border-color: #456e55;
}

#btn-1 {

  float: center;
  font-size: 1.5em;
  color: #FFF;
  font-weight: bold;
}


/* footer */

.footer-custom {
  color: #456e55;
  padding: 0;
  text-align: center;
  display: inline;
  .active {
    color: #456e55;
    &:hover {
      color: #456e55;
    }
  }
}
.footer-custom .col-md-4 left {
  float: left;
}

.footer-custom .col-md-4 right {
  push: right;
}


/* forms */

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #D1DBD5;
  margin-top: 50px;
  margin-bottom: 50px;
}

input, textarea, select, .uneditable_input {
  border: 1px solid #456e55;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}




/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
