<footer class="footer-custom fixed-bottom">
  <small>&copy; Laurie Alaoui 2015</small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path, class:"active" %></li>
    </ul>
  </nav>
</footer>