<div class= "footer footer-custom footer-fixed-bottom">
  <div class= "col-sm-2 pull_left">
    <small>Handmade with <span class="glyphicon glyphicon-heart"></span></small>
  </div>
  <div class= "col-sm-8 center">
    <a><%= link_to "Contact", contact_path, class:"active" %></a>
  </div>
  <div class= "col-sm-2 pull_right">
    <small>&copy; Lor's Recipes 2015</small>
  </div>
</div>
